<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>TagServlet</servlet-name>
  	<display-name>TagServlet</display-name>
  	<description></description>
  	<servlet-class>com.yc.Servlet.TagServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FavoriteServlet</servlet-name>
  	<display-name>FavoriteServlet</display-name>
  	<description></description>
  	<servlet-class>com.yc.Servlet.FavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FavoriteServlet</servlet-name>
  	<url-pattern>/fav.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TagServlet</servlet-name>
  	<url-pattern>/Tag.action</url-pattern>
  </servlet-mapping>
</web-app>
